
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myProjectName-primary: mat-palette($mat-indigo);
$myProjectName-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myProjectName-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$myProjectName-theme: mat-light-theme($myProjectName-primary, $myProjectName-accent, $myProjectName-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($myProjectName-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myProjectName-primary: mat-palette($mat-indigo);
$myProjectName-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myProjectName-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$myProjectName-theme: mat-light-theme($myProjectName-primary, $myProjectName-accent, $myProjectName-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($myProjectName-theme);



/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}


//@at-root
.btn {
  i {
    padding: 0 5px;
  }
}

button+abp-button {
  margin-left: 5px;
}

.mat-table {
  width: 100%;

  th,
  td {
    border-color: #ebebeb;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: #efefef !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.abp-confirm .ui-toast-message-content {
  background-color: #fff !important;
}
.abp-confirm .abp-confirm-footer {
  background-color: #f4f4f7 !important;
}